.main {
  text-align: center;
  background-color: lightskyblue;

}

.flex-container {
  display: flex;
  height: 400px;
  width: 1000px;
  padding: 16px;
  background: yellow;
  border: 4px indigo;
  align-items: center;
}

.lasagna {
  flex: 1 1 auto;
}

.nachocheese {
  flex: 1 1 auto;
}

.risotto {
  flex: 1 1 auto;
}