* {
    color: purple;
  }

div {
    color: white;
    background-color: black;
  }
  
  p {
    color: red;
  }


  .alert-text {
    color: burlywood;
  }

  #title {
    background-color: yellowgreen;
  }

  .subsection.header {
    color: yellow;
  }