.main {
  text-align: center;
  background-color: lightskyblue;
}

.flex-container {
  display: flex;
}

/*.flex-container {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  flex: 1;
}
*/

.lasagna {

  height: 100px;
  flex: 1;
}

.nachocheese {

  height: 100px;
  flex: 1;
}

.risotto {

  height: 100px;
  flex: 1;
}